.button {
    margin-bottom: 2vw;
    padding: 1vw 2vw;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 5px;
}

.form-input {
    font-size: 2rem;
}

.app-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.todo-app-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.task {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
}

.task-detail {
    font-size: 1.6rem;
}

.complete {
    color: #FAFAFA;
    background-color: #b4b4b4;
}
